* {
	padding: 0;
	margin: 0;
}

body {
}

a {
}

h1, h2, h3, h4, h5, h6 {
}

code {
	font-family: Monaco, Verdana, Sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

.table {
	width: 100%;
}
.head {
	width: 100%;
}
.body {
	clear: both;
	width: 100%;
}
.row {
	clear: both;
	width: 100%;
}
.row div {
	float: left;
	width: 33%;
}