.ui-table, .ui-table-row {
	clear: both;
	width: 100%;
	padding: 0.25em;
}

.ui-table-cell {
	padding: 0.25em;
	float: left;
}

.ui-table-header, .ui-table-header .ui-table-cell {
	padding-bottom: 0;
	border-bottom: 0;
}

.ui-table-header, .ui-table-header .ui-table-cell > div {
}

.ui-table-content .ui-table-row {
	padding: 0 0.25em;
	border-top: 0;
}

.ui-table-content .ui-table-row .ui-table-cell {
	border-top: 0;

}

.ui-table-content .ui-table-cell > div {
	/*padding: 0 0.25em;*/
}